.app-shell {
  min-height: 100vh;
  background: #fafafa;
}

.app-content {
  display: grid;
  grid-template-columns: 256px 1fr;
  min-height: calc(100vh - 200px);
}

@media (max-width: 1024px) {
  .app-content {
    grid-template-columns: 1fr;
  }
}
